h1 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: 500;
  font-size: 5rem;
  letter-spacing: 4px;
}

.background {
  position: relative;
  height: 100vh;
  min-height: auto;
  background-image: url("./img/heropc.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
}

.header {
  height: 100vh;
}

.line {
  width: 50px;
  border-width: 3px;
  border-color: black;
  margin-left: 0;
}

.mobile-image {
  display: none;
}

@media(max-width: 1300px) {
  .background {
    background-image: url("./img/herotablet.jpg");
  }

  h1 {
    font-size: 4rem;
  }
}

@media(max-width: 800px) {
  .background {
    background-image: none;
  }

  h1 {
    font-size: 3rem;
  }

  .mobile-image {
    width: 100%;
    display: block;
  }

  .header {
    height: 100%;
    margin-top: 4rem;
    align-items: stretch !important;
    text-align: center;
  }

  .line {
    margin-left: auto;
  }
}
