h1 {
  font-family: 'Alfa Slab One', cursive;
  font-weight: 500;
  font-size: 5rem;
  letter-spacing: 4px;
  text-align: center;
  line-height: 0.9em;
  color: black;
}

p {
  text-align: center;
  color:black;
  font-family: 'Open Sans';
  letter-spacing: 4px;
  text-transform: uppercase;
}

#info {
color: greenyellow;
}

.background {
  position: relative;
  height: 100vh;
  min-height: auto;
  background-image: url("./img/heropc.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.header {
  height: 100vh;
}

.header-main-content {
  height: 95vh;
}

.line {
  width: 50px;
  border-width: 2px;
  border-color: black;
  margin-left: auto;
}

hr#firstline {
margin-top: -8px;
margin-bottom: 48px
}

hr#secondline {
  margin-top: 60px;
  margin-bottom: 6px
  }

hr#thirdline {
    margin-top: -8px;
    margin-bottom: 48px
    }

#section1 {
  background-color: black
  
}

.mobile-image {
  display: none;
}

@media(max-width: 1199px) {
  .background {
    background-image: url("./img/herotablet.jpg");
  }
}

@media(max-width: 991px) {
  h1 {
    font-size: 4rem;
  }
}

@media(max-width: 767px) {
  .background {
    background-image: none;
  }
  h1 {
    font-size: 3rem;
  }
  .mobile-image {
    width: 100%;
    display: block;
  }
  .header {
    height: 100%;
    margin-top: 4rem;
    align-items: stretch !important;
    text-align: center;
  }
}

.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
}

.portfolio-box .portfolio-box-caption {
  position: absolute;
  bottom: 0;
  display: block;
  width: 100%;
  height: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  background: rgba(255, 255, 255, .6);
  -webkit-transition: all .1s;
  -moz-transition: all .1s;
  transition: all .1s;
}

.portfolio-box .portfolio-box-caption:hover {
  opacity: 100;
}

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  transform: translateY(-50%);
  text-align: center;
}

.nav-to-white {
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  transition: all 0.9s;
  background: rgba(255, 255, 255, .6) !important;
}
.nav-to-transparent {
  -webkit-transition: all 0.9s;
  -moz-transition: all 0.9s;
  transition: all 0.9s;
  background: transparent;
}

.modal-lg {
  max-width: 95%;
}
